.devices-1 {
    /* position: relative;
    top: 100%;
    margin: 0 auto;
    left: -10%;
    margin: 0;
    transform: scale(0.7);
    width: 0%; */
    transform: scale(0.7);
    padding: 0;
    position: relative;
    top: 60%;
    margin: 0 auto;
    margin-left: -50px;
  }
  .devices-2 {
    /* position: relative;
    top: 90%;
    left: -100%;
    margin: 0;
    transform: scale(1);
    width: 0%; */
    transform: scale(0.7);
    padding: 0;
    position: relative;
    top: 60%;
    margin: 0 auto;
    margin-left: -20px;
  }
  
  /* MACBOOK */
  .notebook{
    float: left;
  }
  .notebook .screen:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: #a5adbd;
    height: 4px;
    width: 4px;
    margin: 5px 0 0 138px;
  }
  .notebook .screen{
    background: #fcfcfc;
    border-radius: 15px 15px 0 0;
    height: 185px;
    width: 280px;
    margin: 0 auto;
  }
  .notebook .screen:after{
    content: "";
    position: absolute;
    /* CSS FOR BACKGROUND OF DEVICE */
    background-image: linear-gradient(to left top, #e13984, #c760bc, #9882e0, #639ceb, #42afe3, #48b8df, #57c1db, #6ac9d6, #6ed1de, #72d9e7, #77e1ef, #7be9f8);
    height: 160px;
    width: 254px;
    border-radius: 2px;
    margin: 14px 0 0 13px;
    transition: background 1s ease-in-out;
  }
  
  .notebook .keyboard {
    background: #f4f5f7;
    border-radius: 5px 5px 25px 25px;
    height: 8px;
    width: 350px;
    margin: 0 auto;
  }
  .notebook .keyboard:after {
    content: "";
    position: absolute;
    background: #d8dbe1;
    height: 4px;
    width: 50px;
    margin: 0px 0px 0px 150px;
    border-radius: 0 0 8px 8px;
  }
  .keyboard:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 8px;
    width: 370px;
    margin: 7px 0px 0px -10px;
    z-index: -1;
    border-radius: 100%;
  }
  
  /* IPHONE */
  .iphone{
    margin: 40px 0 0 60px;
    background: #fcfcfc;
    border-radius: 10px;
    height: 110px;
    width: 62px;
    float: left;
    animation-duration:1s;
    animation-name: bounceInRight;
  }
  .iphone:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 8px;
    width: 70px;
    margin: 106px 0px 0px -4px;
    z-index: -1;
    border-radius: 100%;
  }
  .iphone .screen{
    margin: 13px 0px 0px 4px;
    /* CSS FOR iPHONE BACKGROUND CHANGE */
    background-image: linear-gradient(to left top, #e13984, #c760bc, #9882e0, #639ceb, #42afe3, #48b8df, #57c1db, #6ac9d6, #6ed1de, #72d9e7, #77e1ef, #7be9f8);
    border-radius: 2px;
    height: 84px;
    width: 54px;
  }
  .iphone .screen:hover{
    transition: background 1s ease-in-out;
    background: #222;
  }
  .iphone .screen:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 3px;
    width: 10px;
    margin: -7px 0px 0px 23px;
    z-index: -1;
    border-radius: 3px;
    z-index: 1
  }
  .iphone .screen:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 87px 0px 0px 24px;
    z-index: -1;
    border-radius: 1px;
    z-index: 1
  }
  @keyframes bounceInDown {
      0% {
          opacity: 0;
          transform: translateY(-2000px);
      }
      
      60% {
          opacity: 1;
          transform: translateY(30px);
      }
      
      80% {
          transform: translateY(-10px);
      }
      
      100% {
          transform: translateY(0);
      }
  }
  @keyframes bounceInLeft {
      0% {
          opacity: 0;
          transform: translateX(-2000px);
      }
      
      60% {
          opacity: 1;
          transform: translateX(30px);
      }
      
      80% {
          transform: translateX(-10px);
      }
      
      100% {
          transform: translateX(0);
      }
  }
  @keyframes bounceInRight{
      0% {
          opacity: 0;
          transform: translateX(2000px);
      }
      
      60% {
          opacity: 1;
          transform: translateX(-30px);
      }
      
      80% {
          transform: translateX(10px);
      }
      
      100% {
          transform: translateX(0);
      }
  }

  @media (min-width: 767px) {
      .devices-1 {
          transform: scale(1.2);
      }
      .devices-2 {
        transform: scale(1.2);
    }
  }
  @media (min-width: 768px) {
      .devices-1 {
          left: 20%;
      }
  }